*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: century gothic, segoe ui;
}
body{
	background-color: #ffffff;
}
.top:after{
	display: block;
	margin-top= 0%;
	
}
.main{
	height: 200px;
	width: 750px;
	background-color: #f0f0f0;
	margin: 50px auto;
	border: 2px solid #fff;
	box-shadow: 0 0 20px #000;
}
.header{
	width: 100%;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	background-color: dodgerblue;
	color: #fff;
	font-size: 18px;
}
#frmBox{
	padding: 10px;
}
.inp{
	width: 100%;
	padding: 8px;
	font-size: 17px;
	margin-bottom: 8px;
	border: 1px solid #c77;
	border-radius: 2px;
	color: #c13;
}
::-webkit-input-placeholder{
	color: #0000ff;
}
.inp:focus{
	outline: none;
	box-shadow: 0 0 6px #0000ff;
}
.sub-btn{
	width: 100%;
	border: none;
	margin-bottom: 0px;
	padding: 7px;
	font-size: 18px;
	background-color: dodgerblue;
	color: #fff;
	cursor: pointer;
	border-radius: 2px;
}
.sub-btn:focus{
	outline: none;
}
.sub-btn:hover{
	background-color: #0000ff;
}
#success{
	width: 100%;
	text-align: center;
	color: #c04;
	margin-top: 10px;
	font-size: 18px;
}